//:host.is-first{
//  border: 2px solid #000;
//}
:host {
  border: 1px solid #337d33;
  display: block;
  width: 400px;
  margin: 10px auto;
  text-align: center;



  & mat-card {
    border: 2px solid #000;
  }
  &.rookie mat-card {
    background-color: burlywood;
  }
  &.champion mat-card {
    background-color: aquamarine;
  }
  &.no-type mat-card {
    background-color: peru;
  }
  &.found mat-card {
    border-color: #00ff00;
    border-width: 5px;
  }
  &.individualDigimon mat-card {
    box-shadow: 5px 10px #55555588;
  }
  img {
    margin: 10px;
    max-width: 350px;
  }
  .meta-data {
    color: rgb(34, 160, 12);
    //height: 80px;
  }
  .creator,
  .type,
  .tags {
    margin: 8px 16px 8px 0;
  }
  .author-info {
    height: 24px;
  }
  .creator {
    color: #000;
  }
  .type {
    color: rgb(33, 79, 165);
  }
  .tags {
    color: #fff;
    margin: 16px 0;
  }
  .tag .mat-chip-list-wrapper {
    justify-content: center;
  }
  
}
